@model OdeToFood.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Home";
}

<h1>Welcome!</h1>

@foreach (var restaurant in Model.Restaurants)
{
    <h3>@restaurant.Name</h3>
    <div>
        @restaurant.Cuisine
    </div>
    <div>
        <a asp-action="Details" asp-route-id="@restaurant.Id">Details</a>
        <a asp-action="Edit" asp-route-id="@restaurant.Id">Edit</a>
    </div>
    @*@Html.Partial("_Summary", restaurant)*@
}

<div>
    <a asp-action="Create">Create</a>
</div>


